// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Arial';

  /** primary **/
	--ion-color-primary: #000FAA;
	--ion-color-primary-rgb: 0,15,170;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #000d96;
	--ion-color-primary-tint: #1a27b3;

  /** secondary **/
	--ion-color-secondary: #225DF6;
	--ion-color-secondary-rgb: 34,93,246;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #1e52d8;
	--ion-color-secondary-tint: #386df7;


  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // rabobank-orange
	--ion-color-rabobank-orange: #EB6D2D;
	--ion-color-rabobank-orange-rgb: 235,109,45;
	--ion-color-rabobank-orange-contrast: #000000;
	--ion-color-rabobank-orange-contrast-rgb: 0,0,0;
	--ion-color-rabobank-orange-shade: #cf6028;
	--ion-color-rabobank-orange-tint: #ed7c42;

  // rabobank-blue
  --ion-color-rabobank-blue: #000FAA;
	--ion-color-rabobank-blue-rgb: 0,15,170;
	--ion-color-rabobank-blue-contrast: #ffffff;
	--ion-color-rabobank-blue-contrast-rgb: 255,255,255;
	--ion-color-rabobank-blue-shade: #000d96;
	--ion-color-rabobank-blue-tint: #1a27b3;

  // rabobank-light-blue
  --ion-color-rabobank-light-blue: #225DF6;
	--ion-color-rabobank-light-blue-rgb: 34,93,246;
	--ion-color-rabobank-light-blue-contrast: #ffffff;
	--ion-color-rabobank-light-blue-contrast-rgb: 255,255,255;
	--ion-color-rabobank-light-blue-shade: #1e52d8;
	--ion-color-rabobank-light-blue-tint: #386df7;

  // rabobank-dark-grey
  --ion-color-rabobank-dark-grey: #202122;
	--ion-color-rabobank-dark-grey-rgb: 32,33,34;
	--ion-color-rabobank-dark-grey-contrast: #ffffff;
	--ion-color-rabobank-dark-grey-contrast-rgb: 255,255,255;
	--ion-color-rabobank-dark-grey-shade: #1c1d1e;
	--ion-color-rabobank-dark-grey-tint: #363738;
}


@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
  // rabobank-orange
	--ion-color-rabobank-orange: #EB6D2D;
	--ion-color-rabobank-orange-rgb: 235,109,45;
	--ion-color-rabobank-orange-contrast: #000000;
	--ion-color-rabobank-orange-contrast-rgb: 0,0,0;
	--ion-color-rabobank-orange-shade: #cf6028;
	--ion-color-rabobank-orange-tint: #ed7c42;

  // rabobank-blue
  --ion-color-rabobank-blue: #000FAA;
	--ion-color-rabobank-blue-rgb: 0,15,170;
	--ion-color-rabobank-blue-contrast: #ffffff;
	--ion-color-rabobank-blue-contrast-rgb: 255,255,255;
	--ion-color-rabobank-blue-shade: #000d96;
	--ion-color-rabobank-blue-tint: #1a27b3;

  // rabobank-light-blue
  --ion-color-rabobank-light-blue: #225DF6;
	--ion-color-rabobank-light-blue-rgb: 34,93,246;
	--ion-color-rabobank-light-blue-contrast: #ffffff;
	--ion-color-rabobank-light-blue-contrast-rgb: 255,255,255;
	--ion-color-rabobank-light-blue-shade: #1e52d8;
	--ion-color-rabobank-light-blue-tint: #386df7;

  // rabobank-dark-grey
  --ion-color-rabobank-dark-grey: var(--ion-color-step-600);
	--ion-color-rabobank-dark-grey-rgb: 32,33,34;
	--ion-color-rabobank-dark-grey-contrast: #ffffff;
	--ion-color-rabobank-dark-grey-contrast-rgb: 255,255,255;
	--ion-color-rabobank-dark-grey-shade: #1c1d1e;
	--ion-color-rabobank-dark-grey-tint: #363738;

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

.ion-color-rabobank-orange {
	--ion-color-base: var(--ion-color-rabobank-orange);
	--ion-color-base-rgb: var(--ion-color-rabobank-orange-rgb);
	--ion-color-contrast: var(--ion-color-rabobank-orange-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rabobank-orange-contrast-rgb);
	--ion-color-shade: var(--ion-color-rabobank-orange-shade);
	--ion-color-tint: var(--ion-color-rabobank-orange-tint);
}

.ion-color-rabobank-blue {
	--ion-color-base: var(--ion-color-rabobank-blue);
	--ion-color-base-rgb: var(--ion-color-rabobank-blue-rgb);
	--ion-color-contrast: var(--ion-color-rabobank-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rabobank-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-rabobank-blue-shade);
	--ion-color-tint: var(--ion-color-rabobank-blue-tint);
}

.ion-color-rabobank-light-blue {
	--ion-color-base: var(--ion-color-rabobank-light-blue);
	--ion-color-base-rgb: var(--ion-color-rabobank-light-blue-rgb);
	--ion-color-contrast: var(--ion-color-rabobank-light-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rabobank-light-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-rabobank-light-blue-shade);
	--ion-color-tint: var(--ion-color-rabobank-light-blue-tint);
}

.ion-color-rabobank-dark-grey {
	--ion-color-base: var(--ion-color-rabobank-dark-grey);
	--ion-color-base-rgb: var(--ion-color-rabobank-dark-grey-rgb);
	--ion-color-contrast: var(--ion-color-rabobank-dark-grey-contrast);
	--ion-color-contrast-rgb: var(--ion-color-rabobank-dark-grey-contrast-rgb);
	--ion-color-shade: var(--ion-color-rabobank-dark-grey-shade);
	--ion-color-tint: var(--ion-color-rabobank-dark-grey-tint);
}
