<ion-card class="ion-margin-bottom">
  <ion-card-header class="ion-header">
    <ion-card-title>
      <ion-text color="rabobank-light-blue">
        <h2>{{ city?.location?.name }}</h2>
      </ion-text>
    </ion-card-title>
    <ion-text color="rabobank-blue" (click)="handleClick()">
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-text>
  </ion-card-header>

  <ion-card-content class="ion-content">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Vento:</strong>
              {{ city?.current?.vis_km }} km
            </ion-text>
          </p>

          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Precip:</strong>
              {{ city?.current?.precip_mm }} cm
            </ion-text>
          </p>

          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Pressão:</strong>
              {{ city?.current?.pressure_mb }} cm
            </ion-text>
          </p>
        </ion-col>

        <ion-col class="ion-no-padding">
          <ion-text color="rabobank-orange">
            <h3>{{ city?.current?.temp_c }} ºC</h3>
          </ion-text>

          <div class="card-condition">
            <img
              src="https:{{ city?.current?.condition?.icon }}"
              alt="{{ city?.current?.condition?.text }}"
            />

            <p>
              <ion-text color="rabobank-dark-grey">
                {{ city?.current?.condition?.text }}
              </ion-text>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
