<ion-card>
  <ion-card-header class="card-header">
    <ion-card-title>
      <ion-text color="rabobank-light-blue">
        <h3>{{ city?.location?.name }}</h3>
      </ion-text>
    </ion-card-title>
    <ion-text color="rabobank-blue">
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-text>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Vento:</strong>
              {{ city?.current?.vis_km }} km
            </ion-text>
          </p>

          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Precip:</strong>
              {{ city?.current?.precip_mm }}
            </ion-text>
          </p>

          <p>
            <ion-text color="rabobank-dark-grey">
              <strong>Pressão:</strong>
              {{ city?.current?.pressure_mb }}
            </ion-text>
          </p>
        </ion-col>
        <ion-col>
          <ion-text color="rabobank-orange">
            <h3>{{ city?.current?.temp_c }} ºC</h3>
          </ion-text>

          <img
            src="https:{{ city?.current?.condition?.icon }}"
            alt="{{ city?.current?.condition?.text }}"
          />

          <p>
            <ion-text color="rabobank-dark-grey">
              {{ city?.current?.condition?.text }}
            </ion-text>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
