<!-- <form (ngSubmit)="login()" [formGroup]="loginForm">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input
      type="email"
      formControlName="email"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input
      type="password"
      formControlName="password"
      required
    ></ion-input>
  </ion-item>

  <ion-button
    color="rabobank-orange"
    class="ion-text-capitalize add-new"
    [strong]="true"
    expand="full" type="submit"
  >
    Entrar
</ion-button>
</form>

 -->
