<ion-header [translucent]="true">
  <ion-toolbar color="rabobank-blue">
    <ion-title class="ion-text-center">Weather Api</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
  *ngIf="hasAvailableCities; else noCitiesAvailable"
  color="rabobank-light-grey"
>
  <app-weather-card
    *ngFor="let city of citiesInfo"
    [city]="city"
    (onRemoveCity)="onRemoveCity(city)"
  ></app-weather-card>
</ion-content>

<ng-template #noCitiesAvailable>
  <ion-content class="ion-text-center ion-padding-top">
    <p>Nenhuma cidade disponível</p>
    <ion-button class="rabobank-light-blue" (click)="onRefreshPage()">
      Atualizar
    </ion-button>
  </ion-content>
</ng-template>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="modal-container ion-padding">
      <ion-header class="ion-header ion-no-border">
        <ion-card-title>
          <ion-text color="rabobank-light-blue">
            <h3>Adicionar cidade</h3>
          </ion-text>
        </ion-card-title>
        <ion-text color="rabobank-blue">
          <ion-icon name="close-sharp" (click)="onCancel()"></ion-icon>
        </ion-text>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-input
          type="text"
          placeholder="Digite o nome da cidade..."
          [(ngModel)]="cityName"
          class="ion-padding"
        ></ion-input>
        <ion-button
          color="rabobank-orange"
          (click)="onAddCity()"
          [strong]="true"
          expand="block"
          class="ion-text-capitalize modal-confirm"
        >
          Confirmar
        </ion-button>
      </ion-content>
    </div>
  </ng-template>
</ion-modal>

<ion-footer class="ion-text-center ion-padding ion-no-border">
  <ion-button
    color="rabobank-orange"
    class="ion-text-capitalize add-new"
    id="open-modal"
    expand="block"
    [strong]="true"
  >
    Adicionar
  </ion-button>
</ion-footer>
