<ion-header [translucent]="true">
  <ion-toolbar color="rabobank-blue">
    <ion-title slot="start" class="ion-text-center">Weather Api</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="ion-padding" name="log-out-outline" size="large" (click)="onLogout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
  *ngIf="hasAvailableCities; else noCitiesAvailable"
  color="rabobank-light-grey"
>
  <h5 class="ion-padding" *ngIf="errorOnSubmitCity !== ''">
    <ion-text color="rabobank-orange">
      {{ errorOnSubmitCity }}
    </ion-text>
  </h5>

  <app-weather-card
    *ngFor="let city of citiesInfo"
    [city]="city"
    (onRemoveCity)="onRemoveCity(city)"
  ></app-weather-card>
</ion-content>

<ng-template #noCitiesAvailable>
  <ion-content class="ion-text-center ion-padding-top">
    <p>Nenhuma cidade disponível</p>
    <ion-button class="rabobank-light-blue" (click)="onRefreshPage()">
      Atualizar
    </ion-button>
  </ion-content>
</ng-template>

<ion-footer *ngIf="citiesInfo.length > 0" class="ion-text-center ion-padding ion-no-border">
  <ion-button
    color="rabobank-orange"
    class="ion-text-capitalize add-new"
    (click)="openModal()"
    expand="block"
    [strong]="true"
  >
    Adicionar
  </ion-button>
</ion-footer>
